project:
  type: website
  output-dir: docs

website:
  title: "TCTWS Abstracts Companion"
  navbar:
    left:
      - href: index.qmd
        text: Home

format:
  html:
    theme: cosmo
    toc: true
execute:
  warning: false
  message: false

